<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCq628ogGMzy6zxo6pRlQ0beiGzTXc1xyI</string>
	<key>GCM_SENDER_ID</key>
	<string>895043772763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Chanita.Ouch-fit</string>
	<key>PROJECT_ID</key>
	<string>ouch-fit</string>
	<key>STORAGE_BUCKET</key>
	<string>ouch-fit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895043772763:ios:7c83a32bea3bd6ff493a7e</string>
	<key>DATABASE_URL</key>
	<string>https://ouch-fit-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>